html {
	margin: 0;
	padding: 0;
	background-color: #fff;
}

body {
	line-height: 1.4;
	max-width: 80ex;
	margin: 1em auto;
	background-color: #fff;
}

pre, code, samp, kbd {
	font-size: 0.9em;
}

kbd {
	padding: 2px;
	background-color: #f9f9f9;
	border-width: 1px;
	border-style: solid;
	font-style: revert;
	white-space: pre;
}

img {
	width: 100%;
}

sup {
	line-height: 0;
}

pre.menu-comment, pre.menu-preformatted {
	font-family: initial;
	margin: 0;
}
