html {
	margin: 0;
	padding: 0;
	background-color: white;
}

body {
	font-family: "Times New Roman", serif;
	font-size: 16px;
	line-height: 1.2;
	max-width: 600px;
	margin: 1em auto;
	background-color: white;
}

pre, code {
	font-family: "Courier", monospace;
	font-size: 14px;
}

img {
	width: 100%;
}

sup {
	line-height: 0;
}

pre.menu-comment, pre.menu-preformatted {
	font-family: initial;
	margin: 0;
}
